In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# read data and skip 'date' colume
df = pd.read_csv('./dataset/netflix-prize-data/combined_data_1.txt', 
                 header = None, names = ['user', 'rating','date'], 
                 usecols = [0,1,2])

In [3]:
def slice_movie(df):
    # find empty rows for slice movies 
    # dataset using movie id as user name for splite rating of each movies
    movies_interval = df[df['rating'].isna()]['user'].reset_index()
    movies_interval['index'] = movies_interval['index'].astype(int)
    
    # create list accroding to movie interval by np
    movie_id = 1
    movie_np = []
    last = None
    for i,r in movies_interval.iterrows():
        if last != None: 
            temp = np.full((1,r['index']-last-1), movie_id)
            movie_np = np.append(movie_np, temp)
            movie_id +=1
        last = r['index']
    # add last movie
    temp = np.full((1,len(df)-last-1), movie_id)
    movie_np = np.append(movie_np, temp)
    
    # removie movie slice row, and combine movie colume
    df = df[pd.notnull(df['rating'])]
    df['movie'] = movie_np.astype(int)
    
    return df

In [4]:
def get_users_df(df):
    # get user list and their rating count
    return df.groupby('user')['user'].agg(['count']).reset_index()

In [5]:
def filter_data_by_user(df,users_df, frac=0.1,count=50):
    # get test users
    test_users_df = users_df[users_df['count']>count].sample(frac=frac)
    # filter user by rating count
    cdf = df.merge(users_df, left_on='user',right_on='user')
    cdf = cdf[cdf['count']>count][['user','movie','rating']]
    
    train_set = cdf[~(cdf['user'].isin(test_users_df['user']))]
    test_set = cdf[cdf['user'].isin(test_users_df['user'])]
    return train_set, test_set

In [53]:
def filter_data_by_date(df,users_df, frac=0.1,count=100,year=2005,month=12,day=15):
    # get test users
    test_users_df = users_df[users_df['count']>count].sample(frac=frac)
    # filter user by rating count
    cdf = df.merge(users_df, on='user')
    cdf = cdf[cdf['count']>count][['user','movie','rating','date']]
    
#     train_set = cdf[~(cdf['user'].isin(test_users_df['user'])& (cdf['date']< pd.datetime(year,month,day)))]
    test_set = cdf[cdf['user'].isin(test_users_df['user'])& (cdf['date']> pd.datetime(year,month,day))]
    target_set = cdf[cdf['user'].isin(test_users_df['user'])]
    train_set = cdf[~(cdf.isin(test_set))]
    
    return train_set[pd.notnull(train_set['user'])], test_set, target_set

In [7]:
sliced_df = slice_movie(df)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:

# print(sliced_df['date'][:5])
# print(sliced_df[sliced_df['date']> pd.datetime(2005,12,1)])

In [13]:
sliced_df['date']= pd.to_datetime(sliced_df['date'])
sliced_df['rating']=sliced_df['rating'].astype(float)
sliced_df['movie']=sliced_df['movie'].astype(int)
sliced_df['user']=sliced_df['user'].astype(int)
print(sliced_df)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             user  rating       date  movie
1         1488844     3.0 2005-09-06      1
2          822109     5.0 2005-05-13      1
3          885013     4.0 2005-10-19      1
4           30878     4.0 2005-12-26      1
5          823519     3.0 2004-05-03      1
6          893988     3.0 2005-11-17      1
7          124105     4.0 2004-08-05      1
8         1248029     3.0 2004-04-22      1
9         1842128     4.0 2004-05-09      1
10        2238063     3.0 2005-05-11      1
11        1503895     4.0 2005-05-19      1
12        2207774     5.0 2005-06-06      1
13        2590061     3.0 2004-08-12      1
14           2442     3.0 2004-04-14      1
15         543865     4.0 2004-05-28      1
16        1209119     4.0 2004-03-23      1
17         804919     4.0 2004-06-10      1
18        1086807     3.0 2004-12-28      1
19        1711859     4.0 2005-05-08      1
20         372233     5.0 2005-11-23      1
21        1080361     3.0 2005-03-28      1
22        1245640     3.0 2005-12-19      1
23         558634     4.0 2004-12-14      1
24        2165002     4.0 2004-04-06      1
25        1181550     3.0 2004-02-01      1
26        1227322     4.0 2004-02-06      1
27         427928     4.0 2004-02-26      1
28         814701     5.0 2005-09-29      1
29         808731     4.0 2005-10-31      1
30         662870     5.0 2005-08-24      1
...           ...     ...        ...    ...
24058233  1836014     3.0 2004-05-05   4499
24058234  1960927     1.0 2005-08-30   4499
24058235  2385226     1.0 2004-05-17   4499
24058236  1997469     2.0 2004-06-22   4499
24058237   811530     4.0 2004-07-28   4499
24058238  1083336     5.0 2004-12-02   4499
24058239  1309223     1.0 2005-04-24   4499
24058240   604335     4.0 2005-04-25   4499
24058241   307404     2.0 2004-10-22   4499
24058242  1334851     3.0 2005-10-25   4499
24058243  1061120     3.0 2004-05-25   4499
24058244  1852040     1.0 2004-05-13   4499
24058245   268846     4.0 2004-04-26   4499
24058246  2368103     2.0 2004-07-05   4499
24058247   529787     4.0 2005-11-30   4499
24058248   441248     4.0 2005-04-05   4499
24058249  2092745     5.0 2005-03-15   4499
24058250   555962     5.0 2004-05-05   4499
24058251   303969     2.0 2004-05-23   4499
24058252   654591     3.0 2004-04-26   4499
24058253   272857     4.0 2005-06-22   4499
24058254   185372     1.0 2004-06-07   4499
24058255  2219917     3.0 2004-05-03   4499
24058256  1796454     1.0 2004-07-07   4499
24058257  2562830     4.0 2004-06-19   4499
24058258  2591364     2.0 2005-02-16   4499
24058259  1791000     2.0 2005-02-10   4499
24058260   512536     5.0 2005-07-27   4499
24058261   988963     3.0 2005-12-20   4499
24058262  1704416     3.0 2004-06-02   4499

[24053764 rows x 4 columns]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [54]:
users_df = get_users_df(sliced_df)
# train_set, test_set = filter_data_by_user(sliced_df,users_df,frac=0.1,count=50)
train_set, test_set, target_set = filter_data_by_date(sliced_df,users_df)

In [55]:
train_set

               user   movie  rating       date
0         1488844.0     1.0     3.0 2005-09-06
1         1488844.0     8.0     4.0 2005-05-12
2         1488844.0    17.0     2.0 2005-06-29
3         1488844.0    30.0     3.0 2005-04-13
4         1488844.0    44.0     3.0 2005-04-20
5         1488844.0    58.0     5.0 2005-04-20
6         1488844.0    76.0     3.0 2005-04-26
7         1488844.0    80.0     3.0 2005-06-02
8         1488844.0    81.0     3.0 2005-05-09
9         1488844.0    83.0     3.0 2005-07-19
10        1488844.0   108.0     3.0 2005-05-09
11        1488844.0   111.0     2.0 2005-04-20
12        1488844.0   118.0     3.0 2005-06-24
13        1488844.0   143.0     5.0 2005-04-14
14        1488844.0   173.0     3.0 2005-04-06
15        1488844.0   175.0     3.0 2005-05-09
16        1488844.0   187.0     2.0 2005-06-21
17        1488844.0   189.0     2.0 2005-04-14
18        1488844.0   191.0     5.0 2005-04-19
19        1488844.0   195.0     4.0 2005-12-29
20        1488844.0   197.0     3.0 2005-04-19
21        1488844.0   199.0     3.0 2005-10-17
22        1488844.0   216.0     3.0 2005-04-19
23        1488844.0   232.0     3.0 2005-11-03
24        1488844.0   241.0     3.0 2005-04-13
25        1488844.0   268.0     4.0 2005-05-09
26        1488844.0   270.0     4.0 2005-04-11
27        1488844.0   273.0     2.0 2005-04-14
28        1488844.0   275.0     3.0 2005-04-14
29        1488844.0   285.0     4.0 2005-07-29
...             ...     ...     ...        ...
23213932  1456077.0  3418.0     4.0 2005-09-17
23213933  1456077.0  3433.0     2.0 2004-06-25
23213934  1456077.0  3466.0     2.0 2001-11-06
23213935  1456077.0  3500.0     3.0 2005-09-17
23213936  1456077.0  3538.0     5.0 2002-11-22
23213937  1456077.0  3573.0     2.0 2004-06-25
23213938  1456077.0  3610.0     3.0 2004-06-25
23213939  1456077.0  3612.0     5.0 2004-06-25
23213940  1456077.0  3782.0     2.0 2004-06-25
23213941  1456077.0  3918.0     4.0 2005-08-12
23213942  1456077.0  3920.0     1.0 2004-06-25
23213943  1456077.0  3925.0     5.0 2005-09-17
23213944  1456077.0  3936.0     2.0 2004-06-25
23213945  1456077.0  3938.0     5.0 2005-09-17
23213946  1456077.0  3960.0     3.0 2005-09-17
23213947  1456077.0  3962.0     5.0 2005-09-17
23213948  1456077.0  4043.0     5.0 2005-09-17
23213949  1456077.0  4049.0     3.0 2005-09-17
23213950  1456077.0  4060.0     3.0 2005-09-17
23213951  1456077.0  4080.0     5.0 2005-09-17
23213952  1456077.0  4141.0     3.0 2005-09-17
23213953  1456077.0  4155.0     3.0 2001-09-26
23213954  1456077.0  4227.0     3.0 2005-09-17
23213955  1456077.0  4256.0     3.0 2005-09-17
23213956  1456077.0  4356.0     3.0 2005-09-17
23213957  1456077.0  4394.0     3.0 2004-04-12
23213958  1456077.0  4402.0     1.0 2004-06-25
23213959  1456077.0  4472.0     4.0 2005-09-17
23213960  1456077.0  4479.0     4.0 2005-09-17
23213961  1456077.0  4496.0     3.0 2001-09-13

[13145598 rows x 4 columns]

In [57]:
train_set.to_csv(r'./dataset/cleaned_train_5.csv',index=False,sep=',')
test_set.to_csv(r'./dataset/cleaned_test_5.csv',index=False,sep=',')
target_set.to_csv(r'./dataset/cleaned_target_5.csv',index=False,sep=',')

In [79]:
MOVIE_NUM = len(train_set[['movie']].drop_duplicates() )
print(MOVIE_NUM)

4499

In [85]:
def make_sprase_matrix(df):

    users = df[['user']].drop_duplicates() #用户列表
    users = users['user'].astype(int)
    np_matrix = np.zeros((len(users), MOVIE_NUM))
    i = 0
    for user in users:
        user_list = df[df['user']== user] #获取全部用户评分
        np_matrix[i][user_list['movie'].astype(int) -1] = user_list['rating'] #按index插入评分
        i+=1
        if i%100==0:
            print("count: ",i)
    return np_matrix

In [84]:
sprase_train = make_sprase_matrix(train_set)
np.savetxt('dataset/sprase_train_5.txt',sprase_train)
sprase_test = make_sprase_matrix(test_set)
np.savetxt('dataset/sprase_test_5.txt',sprase_test)

In [ ]:
sprase_target = make_sprase_matrix(target_set)
np.savetxt('dataset/sprase_target_5.txt',sprase_test)